@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,600;6..12,700&display=swap");

:root {
  /* background color */
  --body-bg: #ffffff;
  --body-secondary-bg: #fafafb;

  /* text color */
  --text-color: #030229;
  --secondary-text-color: #818194;
  --white-text-color: #fff;

  /* button color */
  --btn-color: #605bff;
  --btn-bg: rgb(172, 169, 255, 100);
  --success-color: #3a974c;
  --danger-color: #d11a2a;
}
p,
h6,
h5,
h4,
h3,
h2,
h1 {
  color: var(--text-color) !important;
}
.graph .lineGraph {
  height: 200px;
  width: 400px;
  background-color: var(--body-bg);
  display: none !important;
}
.graph .pieGraph {
  height: 400px;
  width: 400px;
  background-color: var(--body-bg);
  display: none !important;
}
.header-data {
  color: var(--text-color);
}
.top-header-row {
  width: 100%;
  height: 200px;
}
.top-header-col {
  width: 14rem !important;
  height: 10rem;
  background-color: var(--body-bg);
}
.row-graph {
  width: 100%;
  height: 300px;
  background-color: var(--body-bg);
}
.admin-top-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-task-update {
  height: 30vh;
}
@media screen and (min-width: 480px) {
  .graph .lineGraph {
    margin: 0 auto;
    height: 400px;
    width: 100%;
    background-color: var(--body-bg);
    display: block !important;
  }
  .graph .pieGraph {
    height: 400px;
    width: 400px;
    background-color: var(--body-bg);
    display: block !important;
  }
}
