@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  cursor: pointer !important;
  background-color: var(--body-secondary-bg) !important;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  font-family: "nunito" !important;
}
/* pages outline */
.admin,
.dashboard {
  height: 90vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* home page start*/
.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("images/download.jpeg");
  background-position: center center; /* fallback for old browsers */
  background-size: cover;
  background-attachment: fixed;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.25);
}
.main h1,
.main img,
.main button {
  position: relative;
}
.main button {
  box-shadow: 0 0 30px 5px #48abe0 !important;
  font-size: 14pt !important;
}
.main h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
.main .img1 {
  transform: skewY(20deg);
  box-shadow: 0 0 12px 5px #c32006 !important;
}
.main .img2 {
  transform: skewY(-20deg);
  box-shadow: 0 0 15px 5px #c32006 !important;
}
.main .img {
  display: none;
}

/* end of Main */
/* client side navigation */
.sidenav {
  width: 250px;
  padding: 0 30px;
  background-color: #011627;
  position: absolute;
  height: 95vh;
  left: -100%;
  transition: all 1s;
}

.sidenav.active {
  left: 0;
}
.sidenav button {
  width: 200px !important;
  margin-left: -10px;
  text-align: center !important;
}
.sidenav a {
  text-decoration: none;
}
/* End of client side navigation */

/* site addition */
.shadows {
  box-shadow: 0 0 10px 0px #48abe0 !important;
}

/* Admin Side nav */

@media screen and (min-width: 480px) {
  /* main page start */
  .main h1 {
    font-size: 6rem !important;
  }
  .main button {
    width: 50% !important;
    margin: 0 auto;
  }
  .main .img1 {
    width: 20rem;
  }
  .main .img2 {
    width: 20rem;
  }
  .main .img {
    margin: 0 50px;
    width: 20rem;
    position: relative;
    bottom: -70px;
    display: block;
    box-shadow: 0 0 30px 5px #c32006 !important;
  }

  .success,
  .error {
    display: none;
  }

  .dashboard button {
    font-size: 1rem;
  }
}
