.Adminsidenav {
  width: 250px;
  padding: 0 30px;
  background-color: #011627;
  position: absolute;
  height: 95vh;
  left: -100%;
  transition: all 1s;
}

.Adminsidenav.active {
  left: 0;
}
.Adminsidenav button {
  width: 200px !important;
  margin-left: -10px;
  text-align: center !important;
}
.Adminsidenav a {
  text-decoration: none;
}

.adminNav a {
  text-decoration: none;
  font-size: 13pt;
}
form {
  position: relative;
}
@media screen and (min-width: 480px) {
  /* main page start */
  .main h1 {
    font-size: 6rem !important;
  }
  .main button {
    width: 50% !important;
    margin: 0 auto;
  }
  .main .img1 {
    width: 20rem;
  }
  .main .img2 {
    width: 20rem;
  }
  .main .img {
    margin: 0 50px;
    width: 20rem;
    position: relative;
    bottom: -70px;
    display: block;
    box-shadow: 0 0 30px 5px #c32006 !important;
  }

  .success,
  .error {
    display: none;
  }

  .dashboard button {
    font-size: 1rem;
  }
}
